# Basic Aggregate Functions

## 620. Not Boring Movies

In [ ]:
SELECT *
FROM Cinema
WHERE description != "boring" AND id MOD 2 <> 0
ORDER BY rating DESC;

## 1251. Average Selling Price

In [ ]:
SELECT p.product_id, coalesce(round((sum(p.price*u.units)/sum(u.units)),2),0) as average_price
FROM Prices as p
Left join UnitsSold as u
ON p.product_id = u.product_id AND u.purchase_date between p.start_date and p.end_date
group by p.product_id;1251. Average Selling Price

## 1075. Project Employees I

In [ ]:
SELECT p.project_id, round(avg(e.experience_years),2) as average_years
FROM Employee as e
LEFT JOIN Project as p
ON e.employee_id = p.employee_id
WHERE p.project_id is not null
GROUP BY p.project_id;

## 1633. Percentage of Users Attended a Contest

In [ ]:
SELECT contest_id, ROUND(COUNT(user_id)*100/(select count(*) from Users),2) as percentage
FROM Register
GROUP BY contest_id
ORDER BY percentage DESC, contest_id ;

## 1211. Queries Quality and Percentage

In [ ]:
SELECT query_name, ROUND(SUM(rating/position)/COUNT(query_name) , 2) AS quality, 
    ROUND(AVG(CASE WHEN rating < 3 THEN 1 ELSE 0 END)*100,2) AS poor_query_percentage
FROM Queries
GROUP BY query_name;

## 1193. Monthly Transactions I

In [ ]:
SELECT DATE_FORMAT(trans_date, '%Y-%m') as month, country, COUNT(trans_date) as trans_count, SUM(state = 'approved') as approved_count, sum(amount) as trans_total_amount, SUM(IF(state = 'approved', amount, 0)) as approved_total_amount
FROM Transactions
GROUP BY month, country;

## 1174. Immediate Food Delivery II

In [ ]:
WITH immediate_per AS(
    SELECT DISTINCT customer_id,
    FIRST_VALUE(order_date = customer_pref_delivery_date) OVER(PARTITION BY customer_id 
    ORDER BY order_date) as im_order
    FROM Delivery
)

SELECT round(avg(im_order*100),2) AS immediate_percentage 
FROM immediate_per;

## 550. Game Play Analysis IV

In [ ]:
# Write your MySQL query statement below
WITH Players AS (
    SELECT player_id, MIN(event_date) AS first_login
    FROM Activity
    GROUP BY player_id
  )
SELECT ROUND(COUNT(p.player_id) / (SELECT COUNT(DISTINCT Activity.player_id) FROM Activity), 2) AS fraction
FROM Players as p
INNER JOIN Activity as a
ON (p.player_id = a.player_id AND DATEDIFF(p.first_login, a.event_date) = -1)